<h1>User Profile</h1>

<%= form_for(@user, url: registration_path(@user), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: "form-control", autocomplete: "given-name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control", autocomplete: "family-name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", disabled: true %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>
