<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <% unless current_user.admin? || @event.attendees.include?(current_user) %>
  <%= link_to "S'inscrire à cet événement", new_attendance_path(event_id: @event.id), class: "btn btn-primary" %>
<% end %>
<% if current_user == @event.user %>
  <%= link_to "Voir les invités", event_attendances_path(@event), class: "btn btn-secondary" %>
<% end %>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
  <%= button_to "Passer commande (NEXT GEN)", checkout_create_path(total: @event.price), class: "btn btn-primary", remote: true %>
</div>
